#root {
  text-align: center;
  background: rgb(218, 161, 237);
  height: 100vh; /* Establece la altura al 100% de la ventana */
  margin: 0; /* Elimina los márgenes */
  overflow: auto; /* Asegura el desplazamiento si el contenido excede la altura */
  width: auto; 
}